<section class="login-section">
  <h1><%= title %></h1>
  <%- messages() %>
  
  <% if (errors) { %>
    <ul class="notice">
      <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
      <%  }) %>
    </ul>
  <% } %>
  
  <form id="loginForm" action="/account/login" method="post">
    <div class="form-group">
      <label for="account_email">Email Address</label>
      <input 
        type="email" 
        id="account_email" 
        name="account_email" 
        required 
        autocomplete="email"
        value="<%= locals.account_email %>"
      >
    </div>
    
    <div class="form-group">
      <label for="account_password">Password</label>
      <input 
        type="password" 
        id="account_password" 
        name="account_password" 
        required 
        autocomplete="current-password"
      >
    </div>
    
    <button type="submit" class="btn-login">Sign In</button>
  </form>
  
  <div class="register-link">
    <p>Don't have an account? <a href="/account/register">Register here</a></p>
  </div>
</section> 