<section class="account-management-section">
  <h1><%= title %></h1>
  <%- messages() %>
  
  <% if (errors) { %>
    <ul class="notice">
      <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
      <%  }) %>
    </ul>
  <% } %>
  
  <div class="account-content">
    <p>You're logged in.</p>
  </div>
</section> 