<% const d = new Date(); let year = d.getFullYear(); %>
<footer>
  <p class="copyright">&copy; <%= year %> CSE Motors. All rights reserved.</p>
  <p><a href="/error" title="Test Error Handling">Test Error</a></p>
</footer>