<header class="site-header">
  <span class="site-name">
    <a href="/" title="Return to home page">CSE Motors</a>
  </span>
  <div class="account-link">
    <% if (locals.loggedin) { %>
      <a title="Account Management" href="/account/">Welcome <%= locals.accountData.account_firstname %></a>
      <a title="Logout" href="/account/logout">Logout</a>
    <% } else { %>
      <a title="Click to log in" href="/account/login">My Account</a>
    <% } %>
  </div>
</header>
