<h1><%= title %></h1>
<%- html %>

<% if (locals.loggedin && locals.accountData) { %>
  <form action="/account/favorites/<%= locals.inv_id || '' %>" method="post">
    <button type="submit" class="btn">Save to Favorites</button>
  </form>
<% } %>