<h1>Oops! Our Engine Stalled - <%= title %></h1>
<p>Looks like we've hit a pothole: <%- message %></p>
<p>Don't worry, our mechanics are on it! In the meantime, why not browse our <a href="/">inventory</a> of amazing vehicles?</p>
<img src="/images/misc/404.png" alt="404 car" style="width: 100%; height: auto; margin-top: 20px;">
